/.env
/apps/web/.env
.DS_Store
**/.DS_Store
**/vendor/
**/node_modules/
**/.phpunit.cache/
**/storage/*.key
**/database/*.sqlite
**/storage/app/*
**/storage/audio-clips/*
**/storage/framework/*
**/storage/logs/*
!**/storage/**/.gitignore
!/apps/web/storage/logs/.gitignore
**/dist/
/tools/whisper.cpp/
apps/discord-manager/discord-auto-move/
apps/web/.php/
